# Data Cleaning 

#### 1. Import pandas library.

In [98]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [99]:
import sqlalchemy as db
import pymysql

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [100]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')

#had to install psycopg2. Don't know why

#### 4. Import the users table.

In [102]:
users_df = pd.read_sql('SELECT * FROM  users',engine)

#### 5. Rename Id column to userId.

In [103]:
users_df = users_df.rename(columns={'Id': 'userId'})

#### 6. Import the posts table.

In [104]:
post_df = pd.read_sql('SELECT * FROM posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [105]:
post_df = post_df.rename(columns={'Id': 'postId','OwnerUserId':'userId'})

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [106]:
new_user_df = users_df[['userId','Reputation','Views','UpVotes','DownVotes']]

In [107]:
new_post_df = post_df[['postId','Score','userId','ViewCount','CommentCount']]

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [108]:
combined_df = new_user_df.merge(new_post_df,left_on='userId',right_on='userId')

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [109]:
display(combined_df.isnull().sum())

# we have 48.396 null (NaN) values in the ViewCount column

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [110]:
filter_null_view = combined_df['ViewCount'].isnull()
combined_df[filter_null_view]
#we can not delete this column despite the hight number of Nans, the fields which contains info are important to the utility of this data set.

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
...,...,...,...,...,...,...,...,...,...
90518,55605,1,2,0,0,115106,0,NaN,0
90521,55609,1,1,0,0,115115,2,NaN,0
90528,55621,1,1,0,0,115213,0,NaN,0
90536,55637,26,4,0,0,115170,1,NaN,0
90575,55729,16,1,0,0,115338,0,NaN,0

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [120]:
combined_df.astype({'userId': 'object', 'postId':'object'}).dtypes
#we change userId and Post Id to object to prevent accidental mathematical operations on those ids.
#We keep the others columns as Int because we might want to do some operations

userId           object
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId           object
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object