# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import reduce from functools, numpy and pandas
from functools import reduce 
import numpy as np
import pandas as pd
import re 
#hola

# Challenge 1 - Mapping

#### We will use the map function to clean up words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [3]:
# Run this code:

location = '../data/58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [4]:
prophet = prophet[568:]

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [7]:
prophet[1:10]

['the{7}', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto']

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [44]:
#I did not use the indicated method mainly because i didnt see it before writting my code, but I choose another way because I saw some 
# itmes wich began for the reference like '{5}sometext"  wich is a problem if you use the split for the character {

def reference(x):
    '''
    Input: A string
    Output: The string with references removed
    '''
    
    character = '{'
    if character in x:
        a = [a for a in re.split('[{0-9}]', x) if len(a)>0]
        return  a[0]
    else: return x

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`.

In [47]:
prophet_reference = list(map(reference, prophet))

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [58]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
    '''
    
    line_break = '\n'
    if line_break in x:
        return [a for a in x.split(line_break) if len(a) >0]
    else: return x

['aaa', 'a']

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [61]:
prophet_line = list(map(line_break, prophet_reference))

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [65]:
prophet_flat = [item for sublist in prophet_line for item in sublist if isinstance(sublist, list)]

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [92]:
def word_filter(x):
    '''
    Input: A string
    Output: True if the word is not in the specified list 
    and False if the word is in the list.
    '''
    
    word_list = ['and', 'the', 'a', 'an']
    if x in  word_list:
        return False
    else: return True

    
prophet_filter = list(filter(word_filter,prophet_flat))

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

# Bonus Challenge

Rewrite the `word_filter` function above to not be case sensitive.

In [93]:
def word_filter_case(x):
    x = x.lower()
    word_list = ['and', 'the', 'a', 'an']    
    print(x)
    if x in  word_list:
        return False
    else: return True

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [94]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
    '''
    return f'{a} {b}'

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [ ]:
prophet_string = reduce(concat_space,prophet_filter)
prophet_string

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will connect to Ironhack's database and retrieve the data from the *pollution* database. Select the *beijing_pollution* table and retrieve its data.

In [96]:
database_link = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv'
db = pd.read_csv(database_link)

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,NaN,-21,-11.0,1021.0,NW,1.79,0,0
1,2,2010,1,1,1,NaN,-21,-12.0,1020.0,NW,4.92,0,0
2,3,2010,1,1,2,NaN,-21,-11.0,1019.0,NW,6.71,0,0
3,4,2010,1,1,3,NaN,-21,-14.0,1019.0,NW,9.84,0,0
4,5,2010,1,1,4,NaN,-20,-12.0,1018.0,NW,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,NW,231.97,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,NW,237.78,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,NW,242.70,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,NW,246.72,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,NW,249.85,0,0

Let's look at the data using the `head()` function.

In [97]:
db.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [105]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
    '''
    try:
        a = x/24
        return a
    except:
        return

None

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [156]:
pm25_hourly = pd.DataFrame()
for col_name in ['Iws','Is','Ir']:
    pm25_hourly[col_name] = db[col_name].apply(lambda x:hourly(x))

Index(['Iws', 'Is', 'Ir'], dtype='object')

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [174]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
    '''
    #print(db[x].count())
    return np.std(x) / (x.count() - 1)


db[['Iws','Is','Ir']].apply(sample_sd)

Iws    0.001141
Is     0.000017
Ir     0.000032
dtype: float64