# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import ttest_rel, ttest_1samp, ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [122]:
class MakeAnalysis:
    
    def __init__(self,condition,cond_col,data_col):
        func_filter = pokemon[cond_col] == condition
        self.sample = pokemon[func_filter][data_col]
        self.inverse_sample = pokemon[-func_filter][data_col]
        self.cond_col = cond_col
        self.condition = f'{condition} in column {cond_col}'
        
    def plot(self):
        table = pd.DataFrame(pokemon[self.cond_col ].value_counts())
        return table
        
    def mean (self):
        sample_mean = self.sample.mean()
        inverse_sample_mean = self.inverse_sample.mean()
        print(f'Mean of {self.condition}: {sample_mean}')
        print(f'Mean of NON {self.condition}: {inverse_sample_mean}\n')

    def std (self):
        sample_std = self.sample.std()
        inverse_sample_std = self.inverse_sample.std()
        print(f'Std of {self.condition}: {sample_std}')
        print(f'Std of NON {self.condition}: {inverse_sample_std}\n')
    
    def full(self):
        self.mean()
        self.std()
        
    def make_ttest_ind (self,alpha,var):
        test = ttest_ind(self.sample,self.inverse_sample, equal_var=var)
        pvalue = test.pvalue
        print(f'Pvalue: {pvalue} ')
        print(f'Test Passed: {pvalue<alpha}')

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [123]:
legendary = MakeAnalysis(True,'Legendary', 'Total')

In [124]:
legendary.plot()

       Legendary
False        735
True          65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [71]:
legendary.full()

Mean of True in column Legendary: 637.3846153846154
Mean of NON True in column Legendary: 417.21360544217686

Std of True in column Legendary: 60.93738905315344
Std of NON True in column Legendary: 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [72]:
legendary.make_ttest_ind(alpha=0.05,var=False)

Pvalue: 9.357954335957446e-47
Test Passed:  True

What do you conclude from this test? Write your conclusions below.

In [54]:
'''
p value is less than alpha of 5% so, we can affirm that been legendary affects to the total points of a pokemon
'''

True
p value is less than alpha of 5% so, we can affirm that been legendary affects to the total points of a pokemon

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [125]:
water = MakeAnalysis('Water','Type 1', 'Total')

In [126]:
water.plot()

          Type 1
Water        112
Normal        98
Grass         70
Bug           69
Psychic       57
Fire          52
Electric      44
Rock          44
Dragon        32
Ground        32
Ghost         32
Dark          31
Poison        28
Steel         27
Fighting      27
Ice           24
Fairy         17
Flying         4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [78]:
water.full()

Mean of Water in column Type 1: 430.45535714285717
Mean of NON Water in column Type 1: 435.85901162790697

Std of Water in column Type 1: 113.1882660643146
Std of NON Water in column Type 1: 121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [113]:
# Your code here:
water.make_ttest_ind(alpha=0.05,var=True)

Pvalue: 0.6587140317488793
Test Passed: False

Write your conclusion below.

In [82]:
'''As our pvalue is higher than our alpha we failed the tet. That means that bouth samples (water and non water) pokemon has no diferences in totalpoints. So Water is no a decisive feature for the column points'''

'As our pvalue is higher than our alpha we failed the tet. That means that bouth samples (water and non water) pokemon has no diferences in totalpoints. So Water is no a decisive feature for the column points'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [114]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [139]:
from scipy.stats import ttest_rel

# Your conclusions here:
attack = pokemon['Attack']
defense = pokemon['Defense']

rel_test = ttest_rel(attack,defense)
pvalue = rel_test.pvalue

Describe the results of the test in the cell below.

In [140]:
print(f'Test Result: {rel_test.pvalue < 0.05} (pvalue: {pvalue})')
print('We can affirm that there is differences between both datasets')

Test Result: True (pvalue: 1.7140303479358558e-05)
We can affirm that there is differences between both datasets

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [141]:
sp_attack = pokemon['Sp. Atk']
sp_defense = pokemon['Sp. Def']

sp_rel_test = ttest_rel(sp_attack,sp_defense)
sp_pvalue = sp_rel_test.pvalue

Describe the results of the test in the cell below.

In [143]:
print(f'Test Result: {sp_rel_test.pvalue < 0.05} (pvalue: {sp_pvalue})')
print('Pvalue is higher than 0.5 so we can no reffuse our h0 (identical sets) We can affirm that there is NO differences between means of sp attack and sp Defense')

Test Result: False (pvalue: 0.3933685997548122)
Pvalue is higher than 0.5 so we can no reffuse our h0 (identical sets) We can affirm that there is NO differences between means of sp attack and sp Defense

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [144]:
# Your code here:
dif_samples = pokemon['Attack'] - pokemon['Defense']

one_sample_tet = ttest_1samp(dif_samples,0)
p_one = one_sample_tet.pvalue

print(p_one)
p_one<0.05

1.7140303479358558e-05

True

In [145]:
dif_samples_2 = pokemon['Sp. Atk'] - pokemon['Sp. Def']

one_sample_tet_sp = ttest_1samp(dif_samples_2,0)
p_one_sp = one_sample_tet_sp.pvalue

print(p_one_sp)
p_one_sp<0.05

0.3933685997548122

False

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: